@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(246, 245, 244, 1.0);
  background: -webkit-linear-gradient(bottom right, rgba(246, 245, 244, 1.0), rgba(167, 95, 205, 1.0));
  background: -moz-linear-gradient(bottom right, rgba(246, 245, 244, 1.0), rgba(167, 95, 205, 1.0));
  background: linear-gradient(to top left, rgba(246, 245, 244, 1.0), rgba(167, 95, 205, 1.0)); 
  /* background: url("https://images.unsplash.com/photo-1631603090989-93f9ef6f9d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80") no-repeat center cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainHeading{
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color:white;
  font-family: 'Play', sans-serif;
}

.app{
  display: flex;
  flex-direction: row;
  margin:0 auto;
  justify-content: center;
}

.news-feed{
  background-color: rgb(204,204,231);
  margin: 40px;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0,0,0.2);
  width: 40%;
  border-radius: 27px;
}

.news-feed h2{
  text-align: center;
}

.news-feed p{
  margin:1px;
  margin-top: 5px;
}

.news-feed div{
  margin: 19px;
  margin-top: 20px;
}

.news-feed .headingContent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-feed a{
  text-decoration: none;
  color:#0a55ff;
}

.news-feed a:hover{
  text-decoration:underline;
}

.skeleton{
  animation: skeleton-animation 1s linear infinite alternate;
  border-radius: 25px;
}

.skeleton-text{
  width: 100%;
  height: 15px;
}

@keyframes skeleton-animation{
  0%{
    background-color: rgb(8, 54, 73);
  }

  100%{
    background-color: hsl(200,20,95%);
  }
}

p#source {
  font-size: small;
  width: 40%;
}




.currency-converter{
  background-color: rgb(230,223,211);
  margin: 40px;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0);
  text-align: center;
  max-width: 60%;
  border-radius: 27px;
  height: 100%;
}




.currency-converter #sideColumn{
  text-align:right
}

.currency-converter input{
  text-align: center;
  border: none;
  border-radius: 7px;
}

.currency-converter input:disabled{
  color: blue;
  background-color: white;
  border: 2px solid;
}

.currency-converter select{
  border-radius: 15px;
  padding: 5px;
}



.exchange-rate{
  background-color: rgb(88, 230, 222);
  padding: 20px;
  margin: 18px auto;
  box-shadow: 0 3px 10px rgb(0 0 0);
  border-radius: 27px;
  width: 66%;
}

.exchange-rate h1{
  overflow: hidden;
  text-overflow: ellipsis;
}

.exchange-rate h1,h3{
  margin: 15px;
}


tr{
  margin-top: 10px;
  margin-bottom: 10px;
}

.row{
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.currency-options{
  margin:10px;
}



@media only screen and (max-width: 1000px) {
  .app{
    flex-direction: column;
    align-items: center;
  }

  .news-feed,.currency-converter{
    width: 80%;
  }
}

